.impact__header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}

.impact__heading {
  color: #4B5563;
  border-radius: 24px;
  font-size: 32px;
  font-weight: 600;
  font-family: theme("fontFamily.montserrat");
  margin-bottom: 4px;
}

.impact__subheading {
  color: #4B5563;
  font-size: 20px;
}

.impact__nav-btns-ctn {
  border: 5px solid darkcyan;
}

.impact__carousel-ctn {
  border: 1px solid firebrick;
}





.impact__carousel {
  height: 300px;
  width: 100%;
  background: #4B5563;
  position: relative;
}

.impact__arrow {
  width: 30px;
  height: 30px;
  padding: 4px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: background-color 500ms;
}
.impact__arrow:hover {
  background-color: #ffeb3b;
}

.impact__transition-group {
  background: palegoldenrod;
  height: 75%;
}


.impact__carousel-item {
  border: 5px solid white;
  text-align: center;
  color: white;
  font-size: 16px;
  position: absolute;
  padding: 23px;
  transform: translate(-50%, -50%);
  transition: box-shadow 1s, height 250ms, width 250ms, left 1s, margin-top 1s, line-height 250ms, background-color 1s;
}































@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
