.section--footer {
  background: #4D2D18;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 100px;
  color: white;
  justify-content: stretch;
  margin-top: 100px;
  padding: 72px 80px;
}

.footer__person-info-ctn > *+* {
  margin-top: 20px;
}

.footer__title {
  font-size: 36px;
  text-transform: uppercase;
  font-family: theme('fontFamily.garamond');
}

.footer__paragraph {
  font-size: 16px;
}

.footer__contact-ctn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
}

.footer__contact-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__contact-text {
}

.footer__socials-heading {
  margin-top: 48px;
  font-family: theme('fontFamily.garamond');
  font-size: 32px;
}

.footer__socials-ctn {
  grid-area: socials;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__social-btn {
  padding: 7.5px;
  border-radius: 50%;
  font-size: 2rem;
  transition: filter 0.2s ease-in-out;
  background-color: #D9D9D9;
  color: theme("colors.peach");
}
.footer__social-btn:hover {
  filter: brightness(1.5);
}

.footer__social-icon {
  filter: invert(30%);
}

.footer__form-ctn {
  font-family: theme('fontFamily.montserrat');
  display: flex;
  flex-direction: column;
}

.footer__form-heading {
  font-size: 36px;
  text-transform: capitalize;
  font-family: theme('fontFamily.garamond');
}

.footer__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  flex-grow: 1;
}

.footer__form-top {
  display: flex;
  width: 100%;
  gap: 12px;
}

.footer__form-input, .footer__form-input-textarea {
  font-size: 16px;
  color: #222222;
  outline: none;
  resize: none;
  background: #D9D9D9;
  border-radius: 2px;
  height: 48px;
  padding: 16px 12px;
  touch-action: manipulation;
  transition: filter 0.2s ease-in-out;
}
.footer__form-input:focus, .footer__form-input-textarea:focus {
  filter: brightness(1.1);
}
.footer__form-input::placeholder, .footer__form-input-textarea::placeholder {
  color: theme("colors.grey");
}
.footer__form-input {
  width: 100%;
}
.footer__form-input-textarea {
  flex-grow: 1;
}

.footer__form-submit-btn {
  background: #D9D9D9;
  color: #222222;
  place-self: center;
  padding: 10px 24px;
  border-radius: 2px;
  font-size: 16px;
  transition: filter 0.2s ease-in-out;
}
.footer__form-submit-btn:not(.disabledBtn):hover {
  filter: brightness(1.1);
}
.footer__form-submit-btn.disabledBtn {
  filter: brightness(0.8);
  cursor: not-allowed;
}


@media (max-width: 1024px) {
}

@media (max-width: 768px) { 
  .footer__form-top {
    flex-direction: column;
  }
}