.stackRow {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
  color: theme("colors.cornsilk");
}
.stackRow::-webkit-scrollbar {
  height: 0.5rem;
}
.stackRow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px theme("colors.peach"); 
  border-radius: 0.25rem;
}
.stackRow::-webkit-scrollbar-thumb {
  background: theme("colors.peach"); 
  border-radius: 0.25rem;
}

.stackCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.stackIcon {
  font-size: 3rem;
  border-radius: 50%;
  border: 2px solid theme("colors.peach");
  background: #5B331FB0;
  padding: 4px;

  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-style: preserve-3d;
  animation: flip 10s infinite linear;
}
.stackIcon::before {
  content: '';
  width: 4.75rem;
  height: 4.75rem;
  background: #F7DBA755;
  border-radius: 50%;

  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  transform: perspective(100px) translateZ(-5px);
}

.stackCtn:nth-child(3) > .stackIcon, .stackCtn:nth-child(6) > .stackIcon {
  font-size: 2.25rem;
}

.stackName {
  font-weight: 700;
  font-size: 1.125rem;
}

@keyframes flip {
  from { transform: rotateY(-60deg); }
  to { transform: rotateY(299deg); }
}

@media (max-width: 768px) {
  .stackRow {
    gap: 1.5rem;
  }

  .stackCtn {
    gap: 0.5rem;
  }

  .stackIcon {
    font-size: 2rem;
    padding: 4px;
    width: 3rem;
    height: 3rem;
  }
  .stackIcon::before {
    width: 3.25rem;
    height: 3.25rem;
  }

  .stackCtn:nth-child(3) > .stackIcon, .stackCtn:nth-child(6) > .stackIcon {
    font-size: 1.5rem;
  }

  .stackName {
    font-weight: 700;
    font-size: 0.9rem;
  }

  @keyframes flip {
    from { transform: rotateY(-60deg); }
    to { transform: rotateY(299deg); }
  }
}