.home-btn:hover { 
  background: #243E14bf !important;
}
.home-btn:active {
  transform: translateY(5px) !important;
  box-shadow: none !important; 
}



/* Media Queries */
@media (max-width: 499px) {
  .home-btn {
    font-size: 1rem !important;
    padding: 8px 25px !important;
  }
}
