.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  position: relative;
}
.title::before {
  content: '';
  background: theme("colors.peach");
  border-radius: 2px;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  height: 4px;
}

.paragraphCtn {
  background: #F7DBA725;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  width: 100%;
  flex-grow: 1;
  font-weight: 500;
}