.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.introCtn {
  text-align: center;
  font-weight: 700;
}
.introCtn > h3 {
  text-transform: uppercase;
  font-size: 2.75rem;
}
.introCtn > h1 {
  font-size: 7rem;
  max-width: 9ch;
  line-height: 7rem;
}

.stackGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 4rem;
  row-gap: 1rem;
}
.stackCol {
  grid-column: span 1 / span 1;
  display: flex;
  
  align-items: center;
  gap: 0.875rem;
  padding: 1rem 0.75rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  user-select: none;

  transition: background 0.3s ease-in-out;
}
.stackIconCtn {
  border: 1px solid theme("colors.peach");
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stackIcon {
  font-size: 2rem;
}
.stackCol:nth-child(2) .stackIcon {
  font-size: 1.65rem;
  transform: translateY(-1.5px);
}
.stackCol:hover {
  background: #F7DBA730;
}

@media (max-width: 1024px) {
  .homePage {
    gap: 3rem;
  }
  .introCtn > h3 {
    font-size: 2rem;
  }
  .introCtn > h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .stackGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
  .stackCol {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0.25rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .introCtn > h3 {
    font-size: 1.2rem;
  }
  .introCtn > h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .stackIconCtn {
    width: 2.5rem;
    height: 2.5rem;
  }
  .stackIcon {
    font-size: 1.75rem;
  }
  .stackCol:nth-child(2) .stackIcon {
    font-size: 1.45rem;
    transform: translateY(-1.2px);
  }
  .stackTitle {
    font-size: 1.125rem;
  }
}