.card {
  width: 300px;
  min-width: 300px;
  position: relative;
}

.cardImgCtn {
  border-radius: 0.75rem;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3/4;
  position: relative;
  margin-bottom: 0.5rem;
}

.cardImgCtn img {
  object-fit: cover;
  object-position: center;
  background-position: center;
  background-size: cover;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card {
    width: 200px;
    min-width: 200px;
  }
  
  .cardImgCtn {
    border-radius: 0.5rem;
    aspect-ratio: 3/4;
    margin-bottom: 0.75rem;
  }
  
  .cardFooter {
    font-weight: 600;
    font-size: 1rem;
  }
}