.projectsPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.projectsGrid {
  width: 100%;
  display: flex;
  gap: 2.5rem;
  overflow-x: scroll;
  position: relative;
  padding: 0 0 1rem;
}
.projectsGrid::-webkit-scrollbar {
  height: 0.5rem;
}
.projectsGrid::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px theme("colors.peach"); 
  border-radius: 0.25rem;
}
.projectsGrid::-webkit-scrollbar-thumb {
  background: theme("colors.peach"); 
  border-radius: 0.25rem;
}

.divide {
  background: theme("colors.peach");
  width: 0.25rem;
  min-width: 0.25rem;
  border-radius: 0.125rem;
  opacity: 40%;
}

@media (max-width: 768px) {
  .projectsPage {
    gap: 3.5rem;
  }

  .projectsGrid {
    gap: 2.5rem;
    padding: 0 0 1.5rem;
  }
}