.contact-page {
  z-index: 2;

  // Pills, disable tooltip
  .tooltipper {
    cursor: pointer;
    .pill {
      transition: all 0.2s ease;
      
      &:hover {
        background: white;
        color: #518b2d;
      }
    }

    .tooltiptext {
      display: none !important;
    }
  }

  h1 {
    font-weight: 600;
    padding: 10px 40px;
    border-bottom: 3px solid white;
    text-transform: uppercase;
  }
}



/* Media Queries */
@media (max-width: 767px) {
  .contact-page {
    form { width: 90vw !important; }
  }
} 

@media (max-width: 575px) {
  .contact-page {
    h1 { 
      font-size: 1.7rem;
      padding: 15px 21px;
    }

    button { padding: 5px; }
  }
} 

@media (max-width: 350px) {
  .contact-page {
    h1 { 
      font-size: 1.4rem;
      padding: 15px 15px;
    }
  }
} 
