.home-page {
  color: white;
  text-shadow: 2px 2px 5px #243E1488;
  display: flex;
  align-items: center;

  .fire {
    background: red;
    color: white;
  }

  .base-container {
    background: #ffffff77;
    border: 2px solid #ffffff;
    border-radius: 30px;
    backdrop-filter: blur(2.5px);
    
    padding: 10vh 50px 20px;
    margin-bottom: 20px;
    z-index: 3;  

    .intro {
      padding: 30px 0 0 10vw;

      h1 {
        font-weight: 700;
        font-size: 4rem;
      }

      h6 {
        font-weight: 400;
        font-size: 1.3rem;
      }

      .home-btns {
        margin-top: 30px;

        .home-btn {
          background: #243E1488;
          box-shadow: 0px 3px 3px 0px #243E1488;
          border: 2px solid white;
          border-radius: 30px;

          margin-right: 10px;
          padding: 10px 30px;
          font-size: 1.1rem;

          transition: all 0.15s;
          
          a {
            color: white;
            font-weight: 500;
          }

          &:hover { background: #243E14bf }

          &:active {
            transform: translateY(2px);
            box-shadow: none;
          }
        }
      }
    }
  }
  
  .skills {
    margin-top: 15vh;
    position: relative;
    bottom: 0;

    .skill {
      background: #243E1455;
      border: 1.5px solid white;
      border-radius: 50%;

      width: 3rem;
      height: 3rem;
      
      color: white;
      font-size: 1.5rem !important;
      
      margin: 0 15px 10px 0;

      img { width: 1.7rem }
    }
  }

}


/* Media Queries */
@media (max-width: 1200px) {
  .home-page {
    .base-container {      
      .intro {
        padding: 20px;
      }
    }
  }
} 

@media (max-width: 991px) {
  .home-page {
    
    .base-container {
      padding: 50px;
      
      .intro {
        text-align: center;
        padding: 10px 0 0 0;

        h1, h6 { margin: 0 }
      }

      .skills {
        margin-top: 7vh;
        padding: 0 15px;

        .skill {
          font-size: 1rem;
          padding: 8px 15px;
          margin: 0 10px 10px 0;
        }
      }
    }
  }
} 

@media (max-width: 499px) {
  .home-page {
    .base-container {
      padding: 20px 0 0 0;
      
      .intro {
        h1 { font-size: 2.5rem;}
        h6 { font-size: 1rem;}

        .home-btns {
          .home-btn {
            font-size: 1rem;
            padding: 8px 25px;
          }
        }
      }
    }
  }
} 
