.card {
  position: relative;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  aspect-ratio: 1 !important;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  &:hover {
    .hover { visibility: visible; opacity: 1; }
    .card-title { visibility: hidden; opacity: 0; }
  }
  
  .card-title {
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    
    border: 1px solid white;
    min-width: 65%;
    padding: 5px 10px;
    background: #243E14dd;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
  }



  .hover {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: visibility 0.3s, opacity 0.3s;
    
    background: #243E14cc;
    border: 1px solid white;
    border-radius: 10px;
    
    position: absolute;
    height: 100%;
    width: 100%;

    .hover-title {
      font-weight: 600;
      font-size: 1.5rem;
    }
    .hover-languages { font-size: 1.1rem; }

    .hover-btn {
      background: none;
      border: 2px solid white;
      padding: 5px 15px;
      
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
      
      transition: all 0.2s;

      &:hover {
        background: white;
        color: #243E14;
      }
    }
  }


  

  /* MODAL */
  .card-modal-container {
    position: fixed;
    top: 50px;
    left: 0;
    background: #121F0A55;
    z-index: 5;
    transform: translateZ(60px);
    height: calc(100vh - 50px);
    width: 100vw;
    overflow: scroll;
    transition: visibility 0.2s, opacity 0.2s;

    
    .card-modal {
      width: 80%;
      max-width: 750px;
      background: white;
      color: #365C1E;
      border-radius: 5px;
      margin: 60px auto 30px;
      position: relative;
      box-shadow: 0 0 20px 2px #121F0A99;

      img { border-radius: 5px 5px 0px 0px; }
      
      button.close-modal {
        background: #ffffff88;
        width: 1.6rem; height: 1.6rem;
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 10px 1px #121F0A22;
        
        color: #5f9335;
        font-size: 1.1rem;
        
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 3;
        transition: color 0.2s;
        
        &:hover { color: #4E782B; }
      }


      .modal-title {
        font-size: 1.7rem;
        font-weight: 600;
      }
      .modal-summary {
        font-weight: 600;
        color: #365C1E66;
      }
      .modal-technologies {
        font-weight: 500;
      }
      .modal-narration {
        width: 90%;
      }



      hr { 
        width: 90%;
        margin: 20px auto;
      }
      
      .view-btn {
        background: #5f9335;
        padding: 5px 15px;
        border: none;
        width: 150px;
        color: white;
        border: 1px solid white;
        transition: all 0.2s;
        font-weight: 600;

        &:hover {
          background: white;
          color: #5f9335;
          border: 1px solid #5f9335;
        }
      }
    }
  }
}





/** Media Queries **/
@media (max-width: 767px) {
  .card {
    .hover {
      .hover-title { font-size: 1.4rem; }
      .hover-languages { font-size: 0.9rem; }
      .hover-btn { font-size: 1.1rem; }
    }
  }
}

@media (max-width: 575px) {
  .card {
    .card-title { font-size: 1.1rem; }

    .hover {
      .hover-title { font-size: 1.3rem; }
      .hover-languages { font-size: 0.9rem; }
      .hover-btn { font-size: 1rem; }
    }

    /* MODAL */
    .card-modal-container {      
      .card-modal {
        width: 85%;
        margin: 40px auto 30px;
        font-size: 0.9rem;

        button.close-modal {
          width: 1.5rem; height: 1.5rem;
          font-size: 1rem;          
          right: 7px;
        }

        hr { margin: 15px auto; }
        .view-btn { width: 135px; }
      }
    }
  }
}
