.sidebar {
  @apply bg-peach dark:bg-burnt text-sugar-dark dark:text-peach;
  
  .email {
    @apply transition-all opacity-60 hover:opacity-100 underline;
  }
  
  img {
    @apply bg-sugar/60;
  }
}


.sidebar-ul {
  @apply flex md:flex-col md:w-full md:ps-8 space-x-2 md:space-x-0 md:space-y-6;

  .sidebar-link {
    @apply
    relative cursor-pointer
    md:px-4 md:py-3 rounded-t-full md:rounded-t-none md:rounded-s-full
    hover:bg-peach-light/60 dark:hover:bg-peach/60;
    
    &:not(.active) {
      @apply text-sugar-dark hover:text-sugar-dark/70 dark:text-peach dark:hover:text-burnt ;
    }
    &.active {
      @apply text-sugar-dark bg-peach-light dark:text-peach dark:bg-sugar-dark;

      @media (max-width: theme('screens.md')) { @apply sidebarlink-active-sm }
      @media (min-width: theme('screens.md')) { @apply sidebarlink-active-md }
    }
  }
}


.sidebarlink-active-sm {  
  &::before, &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 20px;
    height: 10px;
    top: calc(100% - 10px);
  }
  &::before {
    left: -20px;
    border-bottom-right-radius: 10px;
    @apply shadow-[10px_0_0_0_theme('colors.peach-light')] dark:shadow-[10px_0_0_0_theme('colors.sugar-dark')]
  }
  
  &::after {
    right: -20px;
    border-bottom-left-radius: 10px;
    @apply shadow-[-10px_0_0_0_theme('colors.peach-light')] dark:shadow-[-10px_0_0_0_theme('colors.sugar-dark')]
  }
}

.sidebarlink-active-md {  
  &::before, &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 10px;
    height: 20px;
    right: 0px;
  }
  
  &::before {
    bottom: 100%;
    border-bottom-right-radius: 10px;
    @apply shadow-[0_10px_0_0_theme('colors.peach-light')] dark:shadow-[0_10px_0_0_theme('colors.sugar-dark')];
  }
  
  &::after {
    top: 100%;
    border-top-right-radius: 10px;
    box-shadow: 0 -10px 0 0 theme('colors.sugar-dark');
    @apply shadow-[0_-10px_0_0_theme('colors.peach-light')] dark:shadow-[0_-10px_0_0_theme('colors.sugar-dark')]
  }
}