.projects__heading-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.projects__heading {
  background-color: #E5E7EB;
  color: #4B5563;
  padding: 8px 20px;
  border-radius: 24px;
  font-size: 16px;
}

.projects__subheading {
  color: #4B5563;
  font-size: 20px;
}

.projects__project-grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.projects__project-grid-item {
  border-radius: 2px;
  overflow: hidden;
  aspect-ratio: 1;
  position: relative;
}

.projects__project-link {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.2s ease;
}
.projects__project-link:hover {
  filter: brightness(1.1);
}

.projects__project-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.projects__project-title-ctn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30%;
  padding: 12px;
  background: linear-gradient(
    to bottom,
    transparent 10%,
    #2C2C2CDD 30%,
    #2C2C2CDD 40%,
    #2C2C2CDD 100%
  );
}

.projects__project-name {
  color: white;
  font-family: theme("fontFamily.montserrat");
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects__project-description {
  font-size: 16px;
  color: #E5E5E5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
