.navbar {
  width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  background: #4B110080;
  padding: 0.875rem 0.75rem;
  backdrop-filter: blur(4px);
  transition: all 0.2s ease
}
.navbar-inner {
  width: 100%;
  height: 100%;
  padding: 0 0.25rem;
  border-top: 2px solid theme("colors.peach");
  border-bottom: 2px solid theme("colors.peach");
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-ctn {
  width: 40px;
  height: 40px;
  background: theme("colors.peach");
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.navbar-links-ctn {
  display: flex;
}
.navbar-link {
  cursor: pointer;
  padding: 0.5rem 1.75rem;
  font-size: 1.125rem;
  color: theme("colors.peach");
  transition: filter 0.2s ease;
}
.navbar-link:hover {
  filter: brightness(1.3);
}


.navbar-to-top-btn {
  color: theme("colors.peach");
  border: 2px solid theme("colors.peach");
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.navbar-to-top-btn:hover {
  background: #F7DBA760;
}
.navbar-to-top-btn svg {
  transform: translateY(-1px);
}



@media (max-width: 1024px) {
  .navbar {
    height: 5rem;
    padding: 0.75rem 0.5rem;
  }
  .navbar-link {
    font-size: 1.125rem;
    padding: 0.75rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .navbar-link {
    font-size: 0.875rem;
    padding: 0.5rem 0.5rem;
  }
}