@keyframes flip {
  from { transform: rotateY(-60deg); }
  to { transform: rotateY(299deg); }
}


#tech-display {
  width: 100%;

  >span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // Pills
  .tooltipper {
    display: flex;
    justify-content: center;

    .pill {
      background: #243E14aa;;
      transform-style: preserve-3d;
      width: 97px;
      height: 97px;

      font-size: 3rem !important;
      text-shadow: 2px 2px 5px #243E1488;
      
      margin: 0 15px 10px;
      animation: flip 10s infinite linear;
      
      img { width: 3rem; }

      &::before {
        content: '';
        width: 97px;
        height: 97px;
        background: #ffffff55;
        border-radius: 50%;

        position: absolute;
        transform: translateZ(-2px);
      }

      // &::after {
      //   content: '';
      //   width: 5px;
      //   background: white;
      //   border-radius: 1px;
        
      //   position: absolute;
      //   top: -1px;
      //   bottom: 0;
      //   left: 40px;
      //   z-index: -1;

      //   transform: rotateY(-90deg);
      //   transform-origin: 100% 50%;
      // }
    }

    +.tech-label { font-weight: bold; }

    .tooltiptext {
      display: none !important;

      &::after { display: none; }
    }
  }
}



/* Media Queries */
@media (max-width: 991px) {
  #tech-display .tooltipper {
    .pill {
      width: 76px;
      height: 76px;
      margin: 0 10px 10px;
      font-size: 2.5rem !important;
      
      img { width: 2.5rem; }

      &::before { width: 76px; height: 76px; }
      &::after {
        border-radius: 1px;    
        position: absolute;
        left: 33px;
      }
    }
  }
}  

@media (max-width: 767px) {
  #tech-display {
    > span {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    .tooltipper {
      .pill {
        width: 60px;
        height: 60px;  
        margin: 0 5px 10px;
        font-size: 1.5rem !important;

        img { width: 1.5rem; }

        &::before { width: 60px; height: 60px; }
        &::after { left: 23px; }
      }
      +.tech-label { font-size: 0.7rem; }
    }
  }
}

@media (max-width: 586px) { #tech-display >span { justify-content: start; } }
