@mixin shrinkLabel {
  transform: scale(1.1);
  top: -25px;
  left: 2px;
  
  font-weight: bold;
  color: white; 
}

.group {
  position: relative;

  .form-input {
    background: none;
    background-color: white;
    
    border: none;
    border-radius: 10px;
    
    color: #243E14;
    font-size: 1rem;
    
    
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0;
    margin-bottom: 35px;
    
    transition: box-shadow 0.2s;
    
    &:focus, &:hover {
      outline: none;
      box-shadow: 0 3px 5px 0 #243E14;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel(); 
    }

    &[name="message"] {
      min-height: 15rem;
      line-height: 1.3rem;
    }
  }


  .form-input-label {
    position: absolute;
    left: 10px;
    top: 10px;
    
    color: #243E14;
    font-size: 1rem;
    font-weight: normal;
    
    pointer-events: none;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}



/* Media Queries */
@media (max-width: 767px) {
  .group {  
    .form-input {
      margin: 0;
      margin-bottom: 30px;

      &[name="message"] { min-height: 10rem; }
    }
  }
} 

@media (max-width: 575px) {
  .group {
    .form-input {
      font-size: 0.9rem;
      padding: 5px 10px;

      &[name="message"] {
        min-height: 5rem;
        line-height: 1.1rem;
      }  
    }

    .form-input-label {
      left: 10px;
      top: 5px;
      
      font-size: 0.9rem;
    }
  }
}
