.home-page {
  text-shadow: 2px 2px 5px #243E1488;
  display: flex;
  align-items: center;

  .base-container {
    background: #ffffff77;
    border: 2px solid #ffffff;
    border-radius: 30px;
    backdrop-filter: blur(2.5px);
    
    padding: 10vh 50px 20px;
    margin-bottom: 20px;
    z-index: 3;  

    .intro {
      padding: 30px 0 0 10vw;

      h1 {
        font-weight: 700;
        font-size: 4rem;
      }

      h6 {
        font-weight: 400;
        font-size: 1.3rem;
      }

      .home-btns { margin-top: 30px }
    }
  }
  
  .skills {
    margin-top: 15vh;
    position: relative;
    bottom: 0;
  }
}


/* Media Queries */
@media (max-width: 1200px) {
  .home-page {
    .base-container {      
      .intro {
        padding: 20px;
      }
    }
  }
} 

@media (max-width: 991px) {
  .home-page {
    
    .base-container {
      padding: 50px 50px 20px;
      
      .intro {
        text-align: center;
        padding: 10px 0 0 0;

        h1, h6 { margin: 0 }
      }

      .skills {
        margin-top: 10vh;
        padding: 0 15px;
      }
    }
  }
} 

@media (max-width: 576px) {
  .home-page {
    .base-container {
      min-height: 85vh;
      padding: 70px 0 40px 0;
      
      .skills {
        margin-top: 15vh;
      }
    }
  }
} 

@media (max-width: 499px) {
  .home-page {
    .base-container {
      padding: 20px 0 0 0;
      
      .intro {
        h1 { font-size: 2.5rem;}
        h6 { font-size: 1rem;}
      }

      .skills {
        margin-top: 13vh;        
      }
    }
  }
} 
