
.skills__heading-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.skills__heading {
  background-color: #E5E7EB;
  color: #4B5563;
  padding: 8px 20px;
  border-radius: 24px;
  font-size: 16px;
}

.skills__subheading {
  color: #4B5563;
  font-size: 20px;
}

.skills__marquee-ctn {
  margin-top: 24px;
}

.skills__skill-ctn {
  margin: 0 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skills__skill-icon-ctn {
  width: 64px;
  height: 72px;
}

.skills__skill-icon {
  width: 64px;
  height: 64px;
}

.skills__skill-name {
  color: #4B5563;
  font-size: 18px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
