#projectsnav {
  width: 1000px;
  height: 30px;
  border-radius: 8px;
  position: relative;

  a {
    display: inline-block;
    z-index: 1;
    
    color: white;
    transition: all 0.5s ease; 
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;

    font-size: 1.1rem;
    font-weight: bold;
    
    width: 150px;
    height: 100%;

    &.active {
      color: #3f6c23;
    }
  }
  
  .animation {
    height: 100%;
    background: #ffffffdd;
    border-radius: 8px;
    z-index: 0;
    
    position: absolute;
    top: 0;

    transition: all .5s ease 0s;
  }
  
  .start-home, a.active~.animation { width: 150px; }
  .start-home, a:nth-child(1).active~.animation { left: 50px; }
  .start-about, a:nth-child(2).active~.animation { left: 300px; }
  .start-blog, a:nth-child(3).active~.animation { left: 550px; }
  .start-portefolio, a:nth-child(4).active~.animation { left: 799.5px; }
}



/* Media Queries */
@media (max-width: 1199px) {
  #projectsnav {
    width: 850px;
    .start-home, a.active~.animation { width: 150px; }
    .start-home, a:nth-child(1).active~.animation { left: 31.5px; }
    .start-about, a:nth-child(2).active~.animation { left: 244px; }
    .start-blog, a:nth-child(3).active~.animation { left: 456.5px; }
    .start-portefolio, a:nth-child(4).active~.animation { left: 669px; }
  }
}

@media (max-width: 991px) { 
  #projectsnav {
    width: 700px;
    a { font-size: 1rem; width: 130px; }

    .start-home, a.active~.animation { width: 130px; }
    .start-home, a:nth-child(1).active~.animation { left: 22.5px; }
    .start-about, a:nth-child(2).active~.animation { left: 197.5px; }
    .start-blog, a:nth-child(3).active~.animation { left: 373px; }
    .start-portefolio, a:nth-child(4).active~.animation { left: 547.5px; }
  }
}

@media (max-width: 767px) { 
  #projectsnav {
    width: 520px;
    a { font-size: 0.9rem; width: 100px; }

    .start-home, a.active~.animation { width: 100px; }
    .start-home, a:nth-child(1).active~.animation { left: 15px; }
    .start-about, a:nth-child(2).active~.animation { left: 145.5px; }
    .start-blog, a:nth-child(3).active~.animation { left: 275px; }
    .start-portefolio, a:nth-child(4).active~.animation { left: 405px; }
  }
}

@media (max-width: 575px) { 
  #projectsnav {
    width: 380px;
    a { font-size: 0.8rem; width: 80px; }

    .start-home, a.active~.animation { width: 80px; }
    .start-home, a:nth-child(1).active~.animation { left: 7.5px; }
    .start-about, a:nth-child(2).active~.animation { left: 102.5px; }
    .start-blog, a:nth-child(3).active~.animation { left: 197.5px; }
    .start-portefolio, a:nth-child(4).active~.animation { left: 292.5px; }
  }
}


@media (max-width: 425px) { 
  #projectsnav {
    width: 320px;
    a { font-size: 0.75rem; width: 75px; }

    .start-home, a.active~.animation { width: 75px; }
    .start-home, a:nth-child(1).active~.animation { left: 2.5px; }
    .start-about, a:nth-child(2).active~.animation { left: 82.5px; }
    .start-blog, a:nth-child(3).active~.animation { left: 162.5px; }
    .start-portefolio, a:nth-child(4).active~.animation { left: 242.5px; }
  }
}

@media (max-width: 370px) { 
  #projectsnav {
    width: 280px;
    a { font-size: 0.6rem; width: 65px; }

    .start-home, a.active~.animation { width: 65px; }
    .start-home, a:nth-child(1).active~.animation { left: 2.5px; }
    .start-about, a:nth-child(2).active~.animation { left: 72.5px; }
    .start-blog, a:nth-child(3).active~.animation { left: 142.5px; }
    .start-portefolio, a:nth-child(4).active~.animation { left: 212.5px; }
  }
}
